<div class="wrapper">

    <form id='updateItem'>
        <p>Update your item...</p>
        <input type="text" class="title" placeholder="Title" value="{{title}}" />
        <input type="text" class="description" placeholder="Description...." />
        <div class="item-header">
          {{title}}
          <p>
            Description:
            {{description}}
          </p>

        </div>

        <a class='btn red accent-2' href='/userProfile/put/{{id}}'>Ok</a>
            <!-- <button onclick="window.location.href='index.html'" class="okbtn" type='submit'>

            OK
        </button> -->
    </form>
</div>
